{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "spaceInParens": false
}
